<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<array>
		<string>A'</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>@MMK_L_T</key>
	<array>
		<string>T'</string>
		<string>Tcaron</string>
		<string>Tcommaaccent</string>
	</array>
	<key>@MMK_L_V</key>
	<array>
		<string>V'</string>
	</array>
	<key>@MMK_L_W</key>
	<array>
		<string>W'</string>
		<string>Wcircumflex</string>
	</array>
	<key>@MMK_L_Y</key>
	<array>
		<string>Y'</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
	</array>
	<key>@MMK_L_quotedblleft</key>
	<array>
		<string>quotedblleft'</string>
		<string>quotedblleft.001</string>
	</array>
	<key>@MMK_L_quotedblright</key>
	<array>
		<string>quotedblright'</string>
		<string>quotedblright.001</string>
	</array>
	<key>@MMK_L_quoteleft</key>
	<array>
		<string>quoteleft'</string>
	</array>
	<key>@MMK_L_quoteright</key>
	<array>
		<string>quoteright'</string>
	</array>
	<key>@MMK_R_a</key>
	<array>
		<string>a'</string>
		<string>ae</string>
		<string>g</string>
		<string>m</string>
		<string>n</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
	</array>
	<key>@MMK_R_c</key>
	<array>
		<string>c'</string>
		<string>e</string>
		<string>o</string>
		<string>oe</string>
	</array>
	<key>@MMK_R_i</key>
	<array>
		<string>i'</string>
	</array>
	<key>@MMK_R_quotedblleft</key>
	<array>
		<string>quotedblleft'</string>
		<string>quotedblleft.001</string>
	</array>
	<key>@MMK_R_quotedblright</key>
	<array>
		<string>quotedblright'</string>
		<string>quotedblright.001</string>
	</array>
	<key>@MMK_R_quoteleft</key>
	<array>
		<string>quoteleft'</string>
	</array>
	<key>@MMK_R_quoteright</key>
	<array>
		<string>quoteright'</string>
	</array>
	<key>@MMK_R_w</key>
	<array>
		<string>wcircumflex'</string>
	</array>
	<key>@MMK_R_y</key>
	<array>
		<string>yacute'</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
	</array>
</dict>
</plist>
