<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_w</key>
		<integer>-40</integer>
		<key>@MMK_R_y</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_c</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_V</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-50</integer>
		<key>@MMK_R_c</key>
		<integer>-70</integer>
		<key>@MMK_R_i</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_W</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-40</integer>
		<key>@MMK_R_c</key>
		<integer>-60</integer>
		<key>@MMK_R_i</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_c</key>
		<integer>-40</integer>
		<key>@MMK_R_i</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_quotedblleft</key>
	<dict>
		<key>@MMK_R_quoteleft</key>
		<integer>50</integer>
	</dict>
	<key>@MMK_L_quotedblright</key>
	<dict>
		<key>@MMK_R_quoteright</key>
		<integer>50</integer>
	</dict>
	<key>@MMK_L_quoteleft</key>
	<dict>
		<key>@MMK_R_quotedblleft</key>
		<integer>50</integer>
	</dict>
	<key>@MMK_L_quoteright</key>
	<dict>
		<key>@MMK_R_quotedblright</key>
		<integer>50</integer>
	</dict>
</dict>
</plist>
